@import 'vars';
@import 'base';

a.button {
  border: 2px solid $brand;
  border-radius: 10rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  &:hover {
    text-decoration: none;
  }
}

.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

ul.tags {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
  li {
    display: inline-block;
    color: #666;
    // background-color: #f7f7f7;
    border: 1px solid #aaa;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px;
    line-height: 1;
    border-radius: 2px;
    margin-bottom: .25rem;
    font-family: 'Inconsolata', monospace;
  }
}

section.hero {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: #fafafa;
  // color:white;
  .name {
    white-space: nowrap;
  }
  h1 {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 4rem;
  }
}

section.intro {
  @extend .section;
  ul {
    list-style: none;
    padding-left: 0;
  }
  p {
    margin-bottom: 16rem;
  }
  .social {
    margin-top: 2rem;
    margin-bottom: 16rem;
    a {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

section.exp {
  @extend .section;
  .exp-block {
    margin-bottom: 2rem;
  }
  .date {
    opacity: .5;
  }
}

section.projs {
  @extend .section;
}

section.contact {
  @extend .section;
  a {
    margin-right: 2rem;
  }
}

section.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fafafa;
  p {
    opacity: .5;
  }
}

div.proj {
  img {
    max-width: 100%;
    margin-bottom: 2rem;
    border-radius: 4px;
  }
  h3, p {
    margin-bottom: 1rem;
  }
  .heading {
    h3 {
      margin-bottom: 0;
      flex: 1;
    }
    i {
      margin-left: .5rem;
      font-size: 1.8rem;
    }
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
}

.active {
  color: #22e800;
  opacity: 1;
  animation: fade 2s infinite;
}

@keyframes fade {
  0%,100% { opacity: .3 }
  50% { opacity: 1 }
}
